.place__title {
  font-family:  Inler,  Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
}





@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
    max-width: 330px;
  }

}


@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    max-width: 288px;
    padding-left: 16px;
  }

}
