@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo-image/header__logo-image.css);

.header {
  padding: 0 48px;
  
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  padding-top: 28px;
}



@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}  

@media screen and (max-width: 320px) {
  .header {
    padding: 0 16px;
  }
}  
