.cover__image {
  margin: 0 auto;
  background-image: url(../../../images/cover_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 92.5%;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 100%;
  box-sizing: border-box;
}