
.place {
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: minmax(460px, 47%) minmax(484px ,50%);
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: minmax(440px ,43%) minmax(456px ,45%);
  }
}


@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    grid-template-columns: minmax(340px, 45%) minmax(352px, 46%);
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 320px;
    padding-bottom: 40px;
  }
}
