.place {
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: minmax(45%, 460px) minmax(45%, 484px);
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .place {
      max-width: min(928px, 95vw);
      column-gap: 32px;
      grid-template-columns: minmax(45%, 440px) minmax(45%, 456px);
  }
}

@media screen and (max-width: 768px) {
  .place {
      max-width: min(720px, 95vw);
      column-gap: 28px;
      grid-template-columns: minmax(45%, 340px) minmax(45%, 352px);
      padding-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
      grid-template-columns: 1fr;
      row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
      max-width: 320px;
      grid-template-columns: 320px;
      padding-bottom: 50px;
  }
}
