.intro__title {
  font-family: Inler, Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 40px;
  margin-top: 0;
  width: 100%;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
      max-width: 720px;
  }
}

@media screen and (max-width: 735px) {
  .intro__title {
      font-size: 12vw;
      line-height: 12vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
      font-size: 32px;
      line-height: 35px;
      max-width: 250px;
  }
}
